//Para que as alterações no SCSS vão para o css rode no terminal: npm run observar
@import "variaveis";
@import "mixins";

body {
  background-color: $teste;
  color: $outroTeste;
  background-size: cover;
  font-family: $fonte;
}

//Para que as alterações no SCSS vão para o css rode no terminal: npm run observar



.biblioteca {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: auto;
}

.livro {
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;

  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  h2 {
    color: $cor-primaria;
  }

  p {
    color: $cor-texto;
  }
}

.rodape {
  @include centralizar;
  flex-direction: column;
  background-color: $cor-secundaria;
  padding: 20px;
}